.jumbtron > p,
.page-header,
#price-content > h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 2em;
}
body {
  background-image: url("/images/pranjall-kumar-sejqj6Eaqe8-unsplash.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  line-height: 1.72em;
  font-family: "Brawler", serif;
}
.top {
  background-color: grey;
  color: #fdb913;
  height: 200px;
  border-bottom: 5px solid #fdb913;
}
.jumbtron {
  margin-right: 700px;
  background-color: inherit;
  color: #fdb913;
  margin-top: 60px;
}
.about {
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  color: #fdb913;
}
.card {
  width: 80%;
  min-height: 460px;
  margin-top: 60px;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
  color: #fdb913;
}
h2 {
  text-align: center;
  color: #fdb913;
}
.order {
  margin-left: 100px;
  margin-right: 100px;
  color: #fdb913;
}
#submit-pizza {
  float: right;
  margin-right: 200px;
  color: #fdb913;
}
#price-content {
  text-align: center;
  color: #fdb913;
}
#order-details {
  border: 2px solid black;
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 10px;
  padding-right: 50px;
  border-style: dashed;
  color: #fdb913;
}
#order-details > h5,
h5 {
  font-family: "Kaushan Script", cursive;
}
.footer {
  text-align: center;
  font-size: 25px;
  color: #fdb913;
}
.footer-link {
  color: #fdb913;
}
.icons {
  size: 50%;
  width: 50%;
  margin-right: 10px;
}
.back h5 {
  color: #fdb913;
  margin-left: 10px;
  font-family: "Kaushan Script", cursive;
  font-size: 3em;
}
.back img {
  width: 5%;
  display: inline;
  background-color: black;
  margin-left: 10px;
  margin-top: 10px;
}
.nav-link {
  color: #fdb913;
}
.banner {
  color: #fdb913;
  background-image: url("/images/p4.jpg");
  height: 600px;
}
.banner h1 {
  border-top: 6px double bisque;
  border-bottom: 6px double bisque;
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 1.125s;
  opacity: 0;
  animation-fill-mode: forwards;
  text-align: center;
  margin-top: 100px;
}
@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#amount {
  margin-left: 35%;
}
